In [2]:
import pandas as pd

df = pd.read_csv("final_shop_6modata.csv")
df.sample(5)

,Ad Group,Month,Impressions,Clicks,CTR,Conversions,Conv Rate,Cost,CPC,Revenue,Sale Amount,P&L
28,Shop - Phrase - Desk - Offer,July,389,54,0.14,10,0.19,58,1.09,63,1264.52,5.229
84,Shop - Exact - Mob - Coupon Code,September,16362,5876,0.36,302,0.04,2199,0.37,1970,44401.87,-229.336
152,Shop - 1:1 - Desk - [shop coupon],November,73448,25283,0.34,4080,0.10,27336,1.08,23857,497790.81,-3478.644
102,Shop - Phrase - Mob - Sale,September,6444,593,0.09,27,0.05,231,0.39,221,5500.50,-9.519
173,Shop - 1:1 - Desk - [shop promo],November,2506,708,0.28,137,0.12,1039,1.47,910,19932.69,-129.125

In [3]:
df.isna().sum()

Ad Group       0
Month          0
Impressions    0
Clicks         0
CTR            0
Conversions    0
Conv Rate      0
Cost           0
CPC            0
Revenue        0
Sale Amount    0
P&L            0
dtype: int64

In [4]:
df.duplicated().sum()

0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 190 entries, 0 to 189
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Ad Group     190 non-null    object
 1   Month        190 non-null    object
 2   Impressions  190 non-null    int64
 3   Clicks       190 non-null    int64
 4   CTR          190 non-null    float64
 5   Conversions  190 non-null    int64
 6   Conv Rate    190 non-null    float64
 7   Cost         190 non-null    int64
 8   CPC          190 non-null    float64
 9   Revenue      190 non-null    int64
 10  Sale Amount  190 non-null    float64
 11  P&L          190 non-null    float64
dtypes: float64(5), int64(5), object(2)
memory usage: 17.9+ KB

In [6]:
df['Ad Group'] = df['Ad Group'].astype('string')
df.dtypes

Ad Group       string[python]
Month                  object
Impressions             int64
Clicks                  int64
CTR                   float64
Conversions             int64
Conv Rate             float64
Cost                    int64
CPC                   float64
Revenue                 int64
Sale Amount           float64
P&L                   float64
dtype: object

In [10]:
df[['Ad Type', 'Device Type', 'Campaign Type']] = df['Ad Group'].str.extract(r'Shop\s-\s(1:1|Exact|Phrase)\s-\s(Desk|Mob)\s-\s(.+)')
df['Campaign Type'] = df['Campaign Type'].str.replace(r'\[|\]', '', regex=True).str.strip()
df['Campaign Type'] = df['Campaign Type'].str.title()
df[['Ad Group', 'Ad Type', 'Device Type', 'Campaign Type']].head()

,Ad Group,Ad Type,Device Type,Campaign Type
0,Shop - 1:1 - Desk - [shop coupon code],1:1,Desk,Shop Coupon Code
1,Shop - 1:1 - Desk - [shop coupon],1:1,Desk,Shop Coupon
2,Shop - 1:1 - Desk - [shop discount code],1:1,Desk,Shop Discount Code
3,Shop - 1:1 - Desk - [shop promo code],1:1,Desk,Shop Promo Code
4,Shop - 1:1 - Desk - [shop promo],1:1,Desk,Shop Promo

In [11]:
df.head()

,Ad Group,Month,Impressions,Clicks,CTR,Conversions,Conv Rate,Cost,CPC,Revenue,Sale Amount,P&L,Ad Type,Device Type,Campaign Type
0,Shop - 1:1 - Desk - [shop coupon code],July,16038,6504,0.41,1166,0.10,6669,1.03,6402,136770.05,-267.086,1:1,Desk,Shop Coupon Code
1,Shop - 1:1 - Desk - [shop coupon],July,36462,14367,0.39,2188,0.09,13746,0.96,13262,283215.21,-483.951,1:1,Desk,Shop Coupon
2,Shop - 1:1 - Desk - [shop discount code],July,3635,1458,0.40,248,0.09,1606,1.10,1723,39165.46,117.136,1:1,Desk,Shop Discount Code
3,Shop - 1:1 - Desk - [shop promo code],July,26185,10418,0.40,2294,0.12,13278,1.27,13042,284823.48,-235.921,1:1,Desk,Shop Promo Code
4,Shop - 1:1 - Desk - [shop promo],July,808,282,0.35,61,0.15,391,1.39,337,7717.77,-53.604,1:1,Desk,Shop Promo

In [12]:
df['Device Type'][df['Device Type'].str.contains('Desk')] = 'Desktop'
df['Device Type'][df['Device Type'].str.contains('Mob')] = 'Mobile'

In [13]:
df['CPM'] = df['Cost'] / df['Impressions'] * 1000
df['CPM'] = df['CPM'].round(2)
df[['Impressions', 'Cost', 'CPM']].head()

   Impressions   Cost     CPM
0        16038   6669  415.82
1        36462  13746  377.00
2         3635   1606  441.82
3        26185  13278  507.08
4          808    391  483.91

In [14]:
df.to_csv("rivised_final_shop_6modata.csv")